@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body{
    width:100%;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

ul{
    padding-left:20px;
    columns: 2;
}

main{
    margin: 50px auto;
    width: 80%;
}

h1{
    font-size:2.3em;
}

#aside_left{
    display:inline-block;
    margin: 0 auto;
    width: 20%;
    position: relative;
    bottom:360px;
}

#aside_right{
    display:inline-block;
    text-align: left;
    width: calc(50% - 54px);
    padding-left: 50px;
}

.flex{
    display:flex;
}

#lista{
    height: 100px;
}

.input{
    margin-top: 10px;
    width: 80%;
    height: 40px;
}

.div_submit{
    width:20%;
    margin-right:20px;
}

.submit{
    padding:10px 30px;
    font-size:1em;
}

.checkbox{
    width:20px;
    height:20px;
}

.div_label_checkbox{
    width:76%;
    margin-left:10px;
}
.final_text{
    margin-top:40px;
}
